[USVISA]
; Account and current appointment info from https://ais.usvisa-info.com
USERNAME = example@example.com
PASSWORD = xxxxxxxxxx
SCHEDULE_ID = 99999999
MY_SCHEDULE_DATE = 2024-01-01
; Spanish - Colombia
COUNTRY_CODE = es-co
; Bogotá
FACILITY_ID = 25

[CHROMEDRIVER]
; Details for the script to control Chrome
LOCAL_USE = True
; Optional: HUB_ADDRESS is mandatory only when LOCAL_USE = False
HUB_ADDRESS = http://localhost:9515/wd/hub

[PUSHOVER]
; Get push notifications via https://pushover.net/ (optional)
PUSH_TOKEN = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
PUSH_USER = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

[SENDGRID]
; Get email notifications via https://sendgrid.com/ (optional)
SENDGRID_API_KEY = 
