[USVISA]
; Account and current appointment info from https://ais.usvisa-info.com
PERSON = Pepito perez
USERNAME = Pepito@gmail.com
PASSWORD = pepito
SCHEDULE_ID = 123456
;take it from your secon url, when press the continue button; example https://ais.usvisa-info.com/es-co/niv/schedule/123456/appointment
MY_SCHEDULE_DATE = 2023-03-03
MY_BLOCK_DAY = 2023-02-08
; Spanish - Colombia
COUNTRY_CODE = es-co
; Bogotá
FACILITY_ID = 25
CAS_DAYS_IN_COUNTRY = 26
MESSAGE_SCHEDULE= exitosamente

[CHROMEDRIVER]
; Details for the script to control Chrome
LOCAL_USE = True
; Optional: HUB_ADDRESS is mandatory only when LOCAL_USE = False
HUB_ADDRESS = http://localhost:9515/wd/hub


