[USVISA]
USERNAME = 'example@example.com'
PASSWORD = 'xxxxxxxxxx'
SCHEDULE_ID = '99999999'
MY_SCHEDULE_DATE = '2024-01-01'

[PUSHOVER]
PUSH_TOKEN = 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
PUSH_USER = 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'

[SENDGRID]
SENDGRID_API_KEY = ''
